In [1]:
import pandas as pd

In [2]:
data = {
    "Experience": [1,3,4,5,6,4,5,3,2,5,4,5,3,2,1],
    "Salary":     [30,35,43,36,27,32,18,10,12,11,37,21,14,16,8],
    "Country_Type": [
        "Developing","Developed","Developing","Developed","Developing",
        "Developed","Developing","Developed","Developing","Developed",
        "Developing","Developed","Developing","Developed","Developing"
    ]
}

df = pd.DataFrame(data)
df.head(2)

   Experience  Salary Country_Type
0           1      30   Developing
1           3      35    Developed

In [3]:
X = df.drop('Country_Type',axis = 1)
y = df['Country_Type']

## Split first, then normalize or standardize to avoid data leakage

## Normalization

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [5]:
from sklearn.preprocessing import MinMaxScaler
minmax_scale = MinMaxScaler()

X_train_scaled = minmax_scale.fit_transform(X_train)
X_test_scaled = minmax_scale.transform(X_test) # only transform to avoid data leakage

## Standardization

In [6]:
from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()

df_train_std = std_scale.fit_transform(X_train)
df_test_std = std_scale.transform(X_test)

In [7]:

pd.DataFrame(df_train_std).head(2)

          0         1
0 -1.120224 -0.968246
1  0.280056  1.533056